@import "media-queries";

.eren {
  min-height: 550px;
}

.tapion {
  min-height: 600px;
}

.whitz {
  border-bottom: 1px solid black;
}

.gras {
  font-weight: 700;
}

.espacedroite {
  margin-right: 2rem;
}

.espacegauche {
  margin-left: 2rem;
}

.title-underline2 {
  font-size: 3rem;
  margin-bottom: 7rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--hint);
  text-align: center;
  justify-content: center;
}

.title-underline3 {
  font-size: 5.3rem;
  max-width: 1200px;
  margin-bottom: 7rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--hint);
  text-align: left;
  justify-content: left;
  @include xs {
    text-align: center;
  }
}

.banniere {
  max-height: 175px;
  width:100%;
  border-bottom: 1px solid black;
}

.fdepc {
  max-height:700px;
  width:100%;
}
